/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da página */
body {
    background: #f2f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* Container principal */
main {
    background: #ffffff;
    width: 100%;
    max-width: 420px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Formulário */
form div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #4a90e2;
}

/* Botão adicionar */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #4a90e2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #357abd;
}

/* Linha divisória */
hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #ddd;
}

/* Filtros */
.filtro {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.filtro button {
    flex: 1;
    background: #6c757d;
}

.filtro button:hover {
    background: #5a6268;
}

/* Mensagem */
.mensagem {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

/* Lista de alunos */
.lista {
    margin-top: 10px;
}

.lista div {
    background: #f8f9fa;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.listaItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 2px;
}
.listaItem .btnExcluir{
    width: 10%;
}
/* Média da turma */
.media {
    margin-top: 20px;
    background: #ffffff;
    width: 100%;
    max-width: 420px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.media span {
    color: #4a90e2;
    font-weight: bold;
}
